<form [formGroup]="forumDetailForm">
  <div class="form-group">
    <label>message: </label>
    <input type="text" formControlName="message_new" class="form-control"
           [ngClass]="{'is-invalid': submitted && form.message_new.errors}"/>
    <div *ngIf="submitted && form.message_new.errors" class="failed">
      <div *ngIf="form.message_new.error.required">message can't be empty</div>
    </div>
    <button (click)="postMessage()" class="btn btn-primary">post</button>
    <div class="bs-media-container">
      <ul *ngIf="forum">
        <li *ngFor="let message of forum.messageDtos">
          <div *ngIf="forum.messageDtos.length >0">
            <div class="bs-media-container">
              <p>{{message.content}}</p>
              <span class="time-right">{{message.creationDate}}</span>
              <!--<div  class="bs-media-container" *ngfor="let reaction of message.reactions">-->
              <!--<p>{{reaction.content}}</p>-->
              <!--<span class="time-right">{{reaction.creationDate}}</span>-->
              <!--</div>-->
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</form>
